<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iname</key>
	<string>mycollege</string>
	<key>isprivate</key>
	<true/>
	<key>eyear</key>
	<integer>2004</integer>
	<key>course</key>
	<array>
		<dict>
			<key>cname</key>
			<string>civil</string>
			<key>cduration</key>
			<integer>120</integer>
			<key>cfees</key>
			<integer>1100</integer>
		</dict>
		<dict>
			<key>cname</key>
			<string>cs</string>
			<key>cduration</key>
			<integer>150</integer>
			<key>cfees</key>
			<integer>1250</integer>
		</dict>
		<dict>
			<key>cname</key>
			<string>ece</string>
			<key>cduration</key>
			<integer>100</integer>
			<key>cfees</key>
			<integer>1000</integer>
		</dict>
	</array>
</dict>
</plist>
